<!--<form class="form-signin mt-5" [formGroup]=forms (submit)="submit()">

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <input type="email"  class="form-control" formControlName="email" placeholder="Email address" required="" autofocus="">

    <input type="password"  class="form-control" formControlName="password" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" [disabled]="!forms.valid" type="submit">Sign in</button>
    <button class="btn btn-lg btn-primary btn-block mx-2" type="button" [disabled]="!forms.valid" (click)="getToken()">Generate Token</button>
    <div *ngIf="isLoginError" class="red-text center error-message">Incorrect UserName or Password</div>
    <br>
    <div *ngIf="isLoginToken" class=" my-5 red-text center error-message">Login Token -> <textarea name="Text1" cols="80" rows="8">{{loginToken}}</textarea> </div>
  </form>
 -->

 <section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <div class="wrap">
          <div class="img" style="background-image: url(../assets/images/bg-1.jpg);"></div>
          <div class="login-wrap p-4 p-md-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4">Admin Sign In</h3>
              </div>
            </div>
            <form class="signin-form" [formGroup]=forms  (submit)="submit()" >
              <div class="form-group mt-3">
                <input type="text" class="form-control" formControlName="email" required>
                <label class="form-control-placeholder" for="username">Username</label>

              </div>
              <div class="form-group">
                <input id="password-field" type="password" class="form-control" formControlName="password" required>
                <label class="form-control-placeholder" for="password">Password</label>
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
              </div>
              <span *ngIf="isLoginError">Invalid Email or password</span>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
              </div>
              <div class="form-group d-md-flex">
                <div class="w-50 text-left">
                </div>
                <div class="w-50 text-md-right">
                  <a href="#">Forgot Password</a>
                </div>
              </div>
            </form>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>
